html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.6px;
  color: #01353e;
  padding-bottom: 27px;
  position: relative;
  align-self: center;
}

.title::after {
  content: "/";
  font-size: 72px;
  line-height: 115%;
  color: #00b2a0;
  position: absolute;
  bottom: 0;
}

/* HEADER */

.header {
  background-image: url("/images/heder-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.header__top-inner {
  display: flex;
  align-items: center;
  padding-top: 33px;
}

.logo {
  margin-right: 185px;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 45px;
}

.menu__list-link {
  padding: 0 2px 10px;
  font-size: 24px;
  font-weight: normal;
  line-height: 105%;
  letter-spacing: 0.6px;
  color: #fff;
  transition: all 0.5s;
}

.menu__list-link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 200px;
  font-weight: bold;
  letter-spacing: 0.6px;
  line-height: 110%;
  color: #0d302c;
  font-family: "Raleway", sans-serif;
  margin-bottom: 42px;
}

.header__subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 135%;
  color: #000;
  letter-spacing: 0.6px;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 90px;
}

/* ABOUT */

.about {
  padding: 190px 0 200px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 120px;
}

.about__text p {
  max-width: 480px;
  margin-bottom: 30px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

/* PERKS */

.perks {
  padding: 200px 0;
  background-color: #f8f8f8;
}

.perks__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perks__title {
  margin-bottom: 100px;
}

.perks__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.perks__item {
  width: 350px;
}

.perks__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: center;
  position: relative;
}

.perks__item-title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: calc(-3%);
  width: 50px;
  height: 50px;
}

.perks__item-title-accomodation::before {
  background: url("/images/sun-icon.svg");
  background-repeat: no-repeat;
}

.perks__item-title-flight::before {
  background-image: url("/images/plane-icon.svg");
  background-repeat: no-repeat;
}

.perks__item-title-teaching::before {
  background-image: url("/images/surfing-icon.svg");
  background-repeat: no-repeat;
}

.perks__advantages {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.perks__info {
  width: 350px;
  margin-top: 10px;
  margin-right: 250px;
  flex: none;
}

.perks__info-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  color: #242121;
  padding: 1px 0 10px;
  width: 100%;
  position: relative;
}

.perks__info-item span {
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  font-weight: 400;
  position: absolute;
  top: 0;
}

.perks__info-item p {
  margin: 1px 0 10px;
  color: #242121;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.perks__text p {
  margin-bottom: 30px;
}

/* CONQUER THE PEAKS */

.conquer-peaks {
  background-image: url("../images/conquer-peaks.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  max-height: 850px;
}

.conquer-peaks__inner {
  max-width: 510px;
  margin-right: auto;
}

.conquer-peaks__title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.conquer-peaks__text {
  padding-bottom: 30px;
}

.conquer-peaks__text p {
  margin-bottom: 30px;
}

/* PORTFOLIO */

.portfolio {
  padding: 200px 0;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 212px;
}

.portfolio__filter-btn {
  align-self: flex-start;
  margin-bottom: 50px;
}

.portfolio__btn {
  background: transparent;
  border: none;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: normal;
  color: #242121;
  margin-right: 20px;
  cursor: pointer;
}

.mixitup-control-active {
  color: #00b2a0;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.portfolio__item {
  max-width: 270px;
  max-height: 280px;
}

.portfolio__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.big {
  max-width: 560px;
  max-height: 280px;
}

.portfolio__view-more {
  display: block;
  margin: 0 auto 200px;
  padding: 24px 91px;
  height: 70px;
  width: 350px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: 0.6px;
  color: #242121;
}

.blockquote {
  width: 100%;
  padding: 80px 15px;
  background-color: #f8f8f8;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;
  font-weight: normal;
  font-style: italic;
  color: #242121;
  text-align: center;
  position: relative;
  margin-bottom: 200px;
}

.blockquote__author {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  font-weight: lighter;
  font-style: italic;
  color: #242121;
  position: absolute;
  bottom: 30%;
  right: 20%;
}

.portfolio__video {
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin-bottom: 200px;
}

.portfolio__numbers {
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
}

.portfolio__numbers-item {
  text-align: center;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.6px;
  font-weight: bold;
  color: #01353e;
  margin-bottom: 5px;
}

.portfolio__numbers-item span {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  font-weight: lighter;
  color: #242121;
  display: block;
}

/* SLIDER */

.slider {
  background-image: url("../images/slider-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* padding: 115px 0; */
}

.mySwiper {
  position: relative;
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider__item-link {
  padding-top: 314px;
  display: block;
  max-width: 600px;
}

.slider__item-title {
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  line-height: 56px;
  letter-spacing: 0.6px;
}

.slider__item-desc {
  color: #fff;
  max-width: 600px;
  padding-bottom: 350px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 75px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #00b2a0;
}

/* TEAM */

.team {
  padding: 200px 0;
}

.team__container {
  display: flex;
  flex-direction: column;
}

.team__title {
  margin-bottom: 212px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__name {
  padding: 25px 0 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

/* PACKAGES */

.packages {
  background-color: #f8f8f8;
  padding: 200px 0;
}

.packages__container {
  display: flex;
  flex-direction: column;
}

.packages__title {
  margin-bottom: 183px;
}

.packages__items {
  display: flex;
  justify-content: space-between;
}

.package__item-info {
  display: flex;
  flex-direction: column;
}

.package__item {
  background-color: #fff;
  height: 577px;
  width: 360px;
  padding: 45px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.package__name,
.package__price {
  align-self: center;
  margin-bottom: 58px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: #01353e;
}

.package__price {
  position: relative;
  margin: 0;
}

.package__price::after {
  position: absolute;
  content: "$";
  font-size: 18px;
  line-height: 22px;
  transform: translateY(50%);
}

.package__item span {
  font-weight: 400;
}

.package__item span + span {
  margin-top: 20px;
}

/* MAP */

.map {
  padding: 200px 0;
}

.map__inner {
  position: relative;
}

.map__image {
  max-width: 100%;
  height: auto;
}

.map__pin {
  position: absolute;
  background-color: #00b2a0;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  left: 50%;
  top: 18%;
  transform: rotate(-45deg);
}

/* CONNECTION */

.connection__container {
  display: flex;
  flex-direction: column;
}

.connection__title {
  margin-bottom: 240px;
}

.connection__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 200px;
}

.form {
  max-width: 570px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form input,
.form textarea {
  border: none;
  display: block;
  width: 100%;
  border-bottom: 2px solid #dadada;
  padding: 20px 0;
  margin-bottom: 20px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #00b2a0;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.6px;
}

.form textarea {
  min-height: 140px;
  resize: none;
}

.form button {
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  text-transform: uppercase;
  padding: 25px 110px;
  border: 1px solid #c4c4c4;
  background: #fff;
  max-width: 350px;
}

.connection__address {
  padding: 50px;
  background: #f8f8f8;
  font-size: 24px;
  line-height: 30px;
  color: #242121;
  flex: 1;
}

.connection__address p {
  margin-bottom: 65px;
}

.connection__address p,
.connection__address address,
.connection__address a {
  color: #242121;
  font-style: normal;
}

.connection__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

ul.connection__social {
  display: flex;
  gap: 10px;
}

.connection__social-link {
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  text-transform: uppercase;
}

.connection__social-list:nth-child(2) .connection__social-link {
  color: #00b2a0;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00b2a0;
  padding: 70px 0;
}

.footer__logo {
  width: 60px;
  height: 60px;
}
